<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-xs-12">
      <h1>Willkommen!</h1>
      <p>
        Herzlich Willkommen potenzieller Teamer oder Helfer der O-Phase 2017/18.<br>
        Hier ist das Anmeldeportal für alle Interessierten, die helfen oder teamen wollen.<br>
        Klick dazu oben einfach auf den <a href="/teamer/anmeldung">passenden Menüpunkt</a>.<br>
      </p>
      <p>
        Die Teameranmeldung läuft bis zum 30.07.2017.
      </p>
      <p>
        Wenn du neu an die Uni kommst, also ein Ersti bist, dann schau dir doch bitte
        <a href="https://fsinfo.cs.tu-dortmund.de/studis/o-phase">diese Seite</a> an.
      </p>

    </div>
  </div>
</div>
