<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-xs-12">
      <h4>Impressum</h4>
      <h6>Angaben gemäß § 5 TMG:</h6>
      <p>
        Berta Beispiel<br>
        Exempelweg 27<br>
        123456 Platzhalterhausen
      </p>
      <h6>Kontakt:</h6>
      <table>
        <tr>
          <td>Telefon:</td>
          <td>+49 123 456 7890</td>
        </tr>
        <tr>
          <td>Fax:</td>
          <td>+49 123 456 7891</td>
        </tr>
        <tr>
          <td>E-Mail:</td>
          <td>mehl@muster.tld</td>
        </tr>
      </table>
      <p>Quelle: <em><a href="https://www.e-recht24.de">eRecht24</a></em></p>
      <h4>Haftungsausschluss (Disclaimer)</h4>
      <h5>Haftung für Inhalte</h5>
      <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten
        nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
        verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen,
        die auf eine rechtswidrige Tätigkeit hinweisen.
      </p>
      <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch
        erst ab
        dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
        Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
      </p>
      <h5>Haftung für Links</h5>
      <p>Unser Angebot
        enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für
        diese
        fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
        Anbieter
        oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche
        Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
      <p>Eine
        permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
        Rechtsverletzung
        nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
      <h5>
        Urheberrecht</h5>
      <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
        deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
        Downloads und
        Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
      <p>Soweit die Inhalte auf
        dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
        Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam
        werden,
        bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige
        Inhalte
        umgehend entfernen.</p>
      <h4>Datenschutz</h4>
      <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln
        Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
        Datenschutzerklärung.</p>
      <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten
        möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen)
        erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre
        ausdrückliche
        Zustimmung nicht an Dritte weitergegeben.</p>
      <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B.
        bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem
        Zugriff
        durch Dritte ist nicht möglich.</p>
      <h5>Datenschutzerklärung für die Nutzung von Piwik</h5>
      <p>Diese Website benutzt den Open Source Webanalysedienst Piwik.
        Piwik verwendet sog. "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine
        Analyse
        der Benutzung der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten Informationen über
        die
        Benutzung dieser Website auf unserem Server gespeichert. Die IP-Adresse wird vor der Speicherung
        anonymisiert.</p>
      <p>
        Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte
        weitergegeben.
        Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern;
        wir
        weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
        vollumfänglich werden nutzen können.</p>
      <p>Wenn Sie mit der Speicherung und Nutzung Ihrer Daten nicht einverstanden
        sind, können Sie die Speicherung und Nutzung hier deaktivieren. In diesem Fall wird in Ihrem Browser ein
        Opt-Out-Cookie hinterlegt der verhindert, dass Piwik Nutzungsdaten speichert. Wenn Sie Ihre Cookies löschen hat
        dies
        zur Folge, dass auch das Piwik Opt-Out-Cookie gelöscht wird. Das Opt-Out muss bei einem erneuten Besuch unserer
        Seite
        wieder aktiviert werden.</p>
      <iframe style="border: 0; height: 200px; width: 600px;"
              src="https://piwik.example.net/index.php?module=CoreAdminHome&action=optOut&language=de"></iframe>
      <h5>Cookies</h5>
      <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen
        Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und
        sicherer
        zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser
        speichert.</p>
      <p>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres
        Besuchs
        automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese
        Cookies
        ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</p>
      <p>Sie können Ihren Browser so
        einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die
        Annahme
        von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim
        Schließen
        des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt
        sein.</p>
      <h5>Server-Log-Files</h5>
      <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
        Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
      <ul>
        <li>Browsertyp/ Browserversion</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Hostname des zugreifenden Rechners</li>
        <li>Uhrzeit der Serveranfrage</li>
      </ul>
      <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen
        Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete
        Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>

      <h4>Registrierungsfunktion</h4>
      <p>Wir bieten Ihnen auf unserer Seite die Möglichkeit, sich dort zu registrieren. Die im Zuge dieser Registrierung
        eingegebenen Daten, die aus der Eingabemaske des Registrierungsformular ersichtlich sind
        (wie Name, E-Mailadresse, Handynummer)
        werden ausschließlich für die Verwendung unseres Angebots erhoben und gespeichert. Mit Ihrer Registrierung auf
        unserer Seite werden wir zudem Ihre IP-Adresse und das Datum sowie die Uhrzeit Ihrer Registrierung speichern.
        Dies
        dient in dem Fall, dass ein Dritter Ihre Daten missbraucht und sich mit diesen Daten ohne Ihr Wissen auf unserer
        Seite registriert, als Absicherung unsererseits.&nbsp; Eine Weitergabe an Dritte erfolgt nicht. Ein Abgleich der
        so erhobenen Daten mit Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt
        ebenfalls nicht.</p>
      <h5>Auskunft, Löschung, Sperrung</h5>
      <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre
        gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie
        ein
        Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
        personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
    </div>
  </div>
</div>
