<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-xs-12">
      <h1>Teameranmeldung</h1>
      <h6>Wilkommen!</h6>
      <p>
        Hier kannst Du Dich als Teamer der O-Phase im Wintersemester 2017/2018 anmelden.
      </p>
      <p>
        Die O-Phase findet vom 02.10. bis zum 06.10.2017 statt.<br>
        Die Teamerfahrt findet vom 28.08. bis zum 31.08.2017 statt.
      </p>
      <p>
        Bei Fragen zur Anmeldung <a href="mailto:op-orga@oh14.de">schreib uns doch</a>.
      </p>

      <small class="text-muted">
        Falls du dich bereits angemeldet hast:<br>
        Hurra! Die Dienste für eingeloggte Nutzer sind demnächst™ verfügbar.
      </small>
      <hr>
      <app-teamer-registration-form></app-teamer-registration-form>
    </div>
  </div>
</div>
